# Environment
.env
.venv/
venv/

# Data
data/raw/*.csv
data/raw/*.json
data/processed/*.csv
vector_db/

# Models
models/*.pkl
models/*.bin

# Outputs
outputs/*.log
outputs/*.png
outputs/*.html

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE
.vscode/
.idea/